<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dravite.homeux">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS"/>-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->


    <!--<permission android:name="com.dravite.licensing"
        android:label="LicensingPermission"
        android:protectionLevel="signature"/>-->

    <uses-permission android:name="com.dravite.licensing"/>
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.intent.action.CALL_PRIVILEGED"></uses-permission>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="com.dravite.homeux.LauncherActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.dravite.homeux.settings.SettingsActivity"
            android:label="@string/activity_settings"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.add_quick_action.AddQuickActionActivity"
            android:label="@string/activity_add_qa"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.app_editor.AppEditorActivity"
            android:label="@string/activity_app_editor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.LauncherActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.app_editor.AppEditorIconPackActivity"
            android:label="@string/activity_app_editor_icon_packs"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.app_editor.AppEditorActivity"
            android:screenOrientation="portrait">
            </activity>

        <activity android:name="com.dravite.homeux.app_editor.AppEditorIconSelectActivity"
            android:label="@string/activity_app_editor_icons"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.app_editor.AppEditorActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.folder_editor.FolderEditorActivity"
            android:label="@string/activity_folder_editor_new"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.LauncherActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.folder_editor.FolderEditorAddActivity"
            android:label="@string/activity_add_apps_to_folder"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.folder_editor.FolderEditorActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.folder_editor.SelectFolderIconActivity"
            android:label="@string/select_icon"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.folder_editor.FolderEditorActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dravite.homeux.settings.hidden_apps.HiddenAppsActivity"
            android:launchMode="singleInstance"
            android:label="@string/activity_hidden_apps"
            android:theme="@style/AppTheme.Cyan"
            android:parentActivityName="com.dravite.homeux.settings.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dravite.homeux.welcome.WelcomeActivity"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dravite.homeux.welcome.WelcomeActivityQuickApps"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dravite.homeux.welcome.WelcomeActivityFoldersInfo"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dravite.homeux.welcome.WelcomeActivityWidgetsInfo"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dravite.homeux.welcome.WelcomeActivityFolders"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dravite.homeux.welcome.WelcomeActivityTopPanelInfo"
            android:launchMode="singleInstance"
            android:label="@string/activity_welcome_first"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dravite.homeux.settings.backup_restore.BackupRestoreActivity"
            android:launchMode="singleInstance"
            android:label="@string/activity_backup_restore"
            android:theme="@style/AppTheme.Cyan"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dravite.homeux.settings.clock.ActivityClockSettings"
                  android:launchMode="singleInstance"
                  android:label="@string/category_clock_widget"
                  android:theme="@style/AppTheme.Settings"
                  android:screenOrientation="portrait"/>

        <service android:name="com.dravite.homeux.general_helpers.notifications.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name="com.dravite.homeux.general_helpers.LicensingBroadcastReceiver"
            android:permission="com.dravite.licensing"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dravite.LICENSE"/>

                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
